* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  max-width: 1440px;
}

/* html {
  margin: 0 auto;
  max-width: 1440px;
  background-color: white;
} */

header {
  position: relative;
  background-image: url("./images/robot.jpg");
  height: 60vh;
  background-color: rgb(56, 121, 56);
  border-radius: 30px;
}

div.header {
  border-radius: 30px;
  background-color: black;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.7;
}

div.line {
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 15vh;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  width: 100%;
}

p.head {
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat';
}

button.btn {
  display:block;
  font-size: 50px;
  font-family: 'Montserrat';
  background-color: black;
  color: white;
  padding: 20px;
  border: 0px;
  margin: 0 auto;
  cursor: pointer;
  transition: .5s;
  border: 2px solid black
    
}

button.btn:hover {
  color: rgb(86, 86, 99);
  background-color: white;

}

div.wrapper {
  margin: 20px;
}

img {
  padding: 30px;
  display: block;
  margin: 0 auto;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

div.user {
  font-size: 30px;
  font-family: 'Montserrat';
}

div.user:nth-child(odd) {
  background-color: black;
  color: white;
  border-radius: 30px;
}

div.footer {
  position: absolute;
  bottom: 15px;
  left: 1200px;
  opacity: 0.5;
  color: white;
  font-family: 'Montserrat'
}